body {
    display: flex;
    flex-direction: column;
    background-image: url(https://cdn-media-2.freecodecamp.org/w1280/5f9c9cfc740569d1a4ca3543.jpg);
    background-size: 300% 300%;
    animation: gradientBG 12s ease-in-out infinite;
}